.header__texts{
  display: flex;
  flex-direction: row;
  gap: 25px;
  transition: all ease .3s;
  padding-right: 27px;
}

@media screen and (max-width: 550px) {
  .header__texts.active-mobile{
    flex-direction: column;
    gap: 18px;
    padding-top: 12px;
    padding-bottom: 40px;
  }
  .header__texts.disable-mobile{
    display: none;
  }
}
