.profile__title{
  display: block;
  max-width: 330px;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__title{
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 8px;
    max-width: 220px;
    margin-top: 25px;
  }
}

