.popup-image__container{
  display: flex;
  position: relative;
  max-width: 63.75vw;
  max-height: 562px;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}

@media screen and (min-width: 1440px) {
  .popup-image__container{
    margin-top: auto;
  }
}

@media screen and (max-width: 550px) {
  .popup-image__container{
    margin-top: auto;
    min-width: 240px;
    max-height: 315px;
  }
}
