.popup-signup__title{
  display: block;
  text-align: center;
  margin: 32px 0 60px 0;
  font-weight: 900;
  font-size: 24px;
  max-width: 85%;
}

@media screen and (max-width: 550px) {
  .popup-signup__title{
    font-size: 20px;
  }
}
