.popup-image__close{
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: all ease .3s;
  width: 40px;
  height: 40px;
  background-image: url(../../../images/Close-Icon.svg);
  background-size: 32px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.popup-image__close:hover{
  opacity: .6;
}

@media screen and (max-width: 550px) {
  .popup-image__close{
    right: 0px;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}
