.auth__input{
  border: none;
  border-bottom: 2px solid #CCCCCC;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  height: 30px;
  margin-bottom: 30px;
}

.auth__input::placeholder{
  font-size: 14px;
  color: #CCCCCC;
}

.auth__input:focus{
  outline: none;
}

